.formio-component, .formio-form, .form-check-input {
    position: inherit;
}

.formio-component div {
    position: inherit;
}

.btn.signature-pad-refresh {
    position: inherit;
}

.alert {
    position: inherit;
}